.sidebar {
    width: 20%;
    background-color: #DEE5D4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #333;
    margin: 10px 0;
    text-decoration: none;
}

.nav-link:hover {
    font-weight: bold;
    color: #007bff;
    background-color: #cfe8ff;
}

.card {
    width: 90%; /* Perbesar lebar card menjadi 90% dari kontainer */
    max-width: 1200px; /* Tingkatkan batas maksimum untuk mendukung layar besar */
    margin: 30px auto; /* Tambahkan margin dan center card */
    padding: 30px; /* Perbesar padding untuk ruang lebih luas */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Perbesar shadow untuk estetika */
    background-color: #e7f3ff; /* Warna tetap kontras */
    border-radius: 10px; /* Tambahkan border-radius untuk tampilan lebih modern */
}




.table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

th {
    background-color: #4A628A !important;
    color: white;
}

#main-content {
    width: 80%;
    padding: 20px;
    background: linear-gradient(to bottom, #DFF2EB, #4A628A);
    overflow-y: auto;
}
.form-control {
    width: 100%; /* Mengurangi lebar input ke 50% */
    max-width: 800px; /* Batas maksimum lebar input */
    padding: 5px; /* Mengurangi padding */
    font-size: 14px; /* Ukuran font lebih kecil */
    margin: 5px 0; /* Memberikan sedikit margin antar input */
}
